html {
    font-size: 13px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.input-field {
    margin: 0px;
}
input[type=range]::-webkit-slider-thumb {
    height: 1.5em;
    width: 1.5em;
    margin-top: -.65em;
}
